.navbar_main{
    background-color: #111111;
    height: 2.7rem;
    width: 100vw;
    font-size: 0.9rem;
}

.price{
    color: #3096DB;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

.nav_cont{
    display: flex;
    align-content: center;
    padding-left: 15%;
    gap:1rem;
    /* justify-content: center; */
}

.eth_price{
    padding:0.6rem;
    padding-left: 0;
    color:white;
}

.red{
    color:#DC3545;
}

.green{
    color:#09A177;
}